.card-container {
    background-image: radial-gradient(circle at 20% 50%, rgba(232, 145, 9, 0.18) 0%, rgb(255, 255, 255) 100%);
    cursor: pointer;
    min-height: 45px;
    margin-bottom: 25px;
}

.movie-titel{
    font-size: 18px;
    font-weight: bold;
}

.movie-overView {
    font-size: 14px;
    color: #888888;
}
